<a href="/"><button>Back</button></a>
<article>
    <span>Name: </span> <label for=""><%= @data[0][1] %></label>
    <span>Number:</span> <label for="">
        <%= numberExtender(@data[0][0]) %>
    </label>
    <span>Description:</span>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae maiores hic veritatis neque beatae magnam perferendis nemo alias illum similique!</p>
</article>