body, h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

a button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: var(--font-size);
  border: solid 1px black;
  background: none;
  padding: calc(var(--font-size)*0.7) 0 calc(var(--font-size)*0.8); }
  a button *:first-child {
    padding-left: calc(var(--font-size)*1.5);
    padding-right: calc(var(--font-size)*0.2); }
  a button *:last-child {
    padding-right: calc(var(--font-size)*1.5); }
  a button i.material-icons {
    font-size: var(--font-size); }
  a button i.material-icons:first-child {
    padding-left: calc((var(--font-size)*1)); }
  a button i.material-icons:last-child {
    padding-right: calc(var(--font-size)*1); }

a {
  text-decoration: none; }

article {
  position: relative;
  box-sizing: border-box;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

article::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: var(--article-bg);
  opacity: 0.2; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; }

.header--top {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.number {
  font-weight: 900;
  font-style: italic;
  color: var(--color);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  font-size: var(--font-size);
  letter-spacing: calc(var(--font-size) / (-5)); }

.name {
  position: relative;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  text-transform: uppercase;
  font-size: var(--font-size);
  margin-bottom: calc(var(--font-size) / 8); }

.name::before {
  --margin-adjust: 25%;
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  bottom: -1px;
  right: var(--margin-adjust);
  left: var(--margin-adjust);
  background-color: black; }

.pokeline {
  font-weight: 100;
  text-transform: uppercase;
  font-size: var(--font-size);
  letter-spacing: calc(var(--font-size) / 3); }

.sprite {
  height: var(--size);
  width: var(--size); }

.pokemon--intro {
  font-weight: 400;
  font-size: var(--font-size); }

main {
  width: 100%;
  display: flex;
  flex-direction: column; }
  main a {
    align-self: flex-end;
    justify-self: flex-end; }

.button--navigation {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  transform: scale(1);
  transition: transform 250ms ease-out; }
  .button--navigation.hidden {
    transform: scale(0); }

.button--navigation:first-of-type {
  top: 20px; }

.button--navigation:last-of-type {
  bottom: 20px; }

.index--wrapper {
  height: 100vh;
  overflow: hidden; }

.index--article {
  height: 100vh; }
  .index--article .number {
    --font-size: 6rem; }
  .index--article .sprite {
    --size: 8rem; }
  .index--article .name {
    --font-size: 3rem; }
  .index--article .pokeline {
    --font-size: 1.3rem; }
  .index--article .pokemon--intro {
    --font-size: 0.9rem;
    height: 0%;
    overflow: hidden; }
  .index--article main {
    align-items: center; }
    .index--article main a button {
      margin-top: 20px;
      --font-size: 0.9rem; }

.scroll-nav {
  list-style: none;
  position: fixed;
  bottom: 10vw;
  left: 4vw;
  padding: 0; }
  .scroll-nav li {
    padding: 0.3rem 0;
    font-weight: 600; }
    .scroll-nav li.scroll-nav-active {
      font-size: 1.4rem; }

@media only screen and (min-width: 500px) {
  .index--article {
    padding: 10vh calc((100vw - 400px) / 2); } }
@media only screen and (min-width: 700px) {
  .index--article {
    padding: 10vh; }
    .index--article a {
      align-self: center; }
    .index--article .pokemon--intro {
      height: 100%;
      overflow: visible; }
    .index--article .header--top {
      position: relative; }
      .index--article .header--top .sprite {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%) scale(4);
        opacity: 0.3;
        z-index: -10; } }
.pokemon--article {
  height: auto;
  padding: 10vw 8vw; }
  .pokemon--article a button {
    --font-size: 1rem; }
    .pokemon--article a button.button--back {
      position: absolute;
      top: 0.6rem;
      left: 0.6rem; }
  .pokemon--article .number {
    --font-size: 10vw;
    line-height: var(--font-size);
    -webkit-text-stroke-width: 2px; }
  .pokemon--article .name {
    --font-size: 10vw;
    margin: 0 3vw; }
  .pokemon--article .sprite {
    --size: 14vw; }
  .pokemon--article .pokeline {
    --font-size: 4vw; }
  .pokemon--article .evolutions--container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .pokemon--article .evolutions--container .sprite {
      --size: 20vw; }
  .pokemon--article .pokemon--intro {
    --font-size: 0.9rem;
    font-weight: 700;
    margin-bottom: 1rem; }
  .pokemon--article .section {
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-gap: 10px;
    margin-bottom: 1rem; }
    .pokemon--article .section .section--header {
      position: sticky;
      top: 10px;
      font-size: 1.2rem;
      font-family: 'Times New Roman', Times, serif;
      text-transform: uppercase; }
    .pokemon--article .section p {
      font-size: 0.9rem;
      text-align: justify; }
    .pokemon--article .section .stats {
      margin: 10px 0;
      grid-column: span 2;
      display: grid;
      grid-template-columns: 80px 1fr; }
    .pokemon--article .section .stats--line--holder {
      background: #DDD; }
      .pokemon--article .section .stats--line--holder:nth-child(1) * {
        background-color: #ff3c3c; }
      .pokemon--article .section .stats--line--holder:nth-child(2) * {
        background-color: #ffbd43;
        animation-delay: 100ms; }
      .pokemon--article .section .stats--line--holder:nth-child(3) * {
        background-color: #fffc4a;
        animation-delay: 200ms; }
      .pokemon--article .section .stats--line--holder:nth-child(4) * {
        background-color: #4a7aff;
        animation-delay: 300ms; }
      .pokemon--article .section .stats--line--holder:nth-child(5) * {
        background-color: #48c748;
        animation-delay: 400ms; }
      .pokemon--article .section .stats--line--holder:nth-child(6) * {
        background-color: #ff4da6;
        animation-delay: 500ms; }
      .pokemon--article .section .stats--line--holder:nth-child(2n) {
        background-color: #D6D6D6; }
    .pokemon--article .section ul {
      padding: 0 5px 0 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: space-around; }
      .pokemon--article .section ul li {
        font-weight: 700;
        text-transform: uppercase; }
    .pokemon--article .section .stats--value {
      font-size: 1rem; }
    .pokemon--article .section .stats--line {
      position: relative;
      padding: 0.2rem 0.5rem;
      transform: scaleX(0);
      transform-origin: left;
      animation: statsAnimation 1000ms ease-out forwards; }
      .pokemon--article .section .stats--line h2 {
        font-weight: 400; }

@media only screen and (min-width: 600px) {
  .pokemon--article a button {
    --font-size: 1rem; }
    .pokemon--article a button.button--back {
      top: 1rem;
      left: 1rem; } }
@keyframes statsAnimation {
  0% {
    transform: scaleX(0); }
  100% {
    transform: scaleX(1); } }

/*# sourceMappingURL=main.css.map */
