.button--navigation{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;

    transform: scale(1);
    transition: transform 250ms ease-out;

    &.hidden{
        transform: scale(0);
    }
}
.button--navigation:first-of-type{
    top: 20px;
}
.button--navigation:last-of-type{
    bottom: 20px;
}

.index--wrapper{
    height: 100vh;
    overflow: hidden;
}

.index--article{
    height: 100vh;

    .number{
        --font-size: 6rem;
    
        // font-size: var(--font-size);
        // letter-spacing: calc(var(--font-size) / (-5));
    }

    .sprite{
        --size: 8rem;
    }

    .name{
        --font-size: 3rem;
    }

    .pokeline{
        --font-size: 1.3rem;
    }

    .pokemon--intro{
        --font-size: 0.9rem;
    }

    main{
        // justify-content: space-between;
        align-items: center;
        // flex-direction: row;


        a button{
            margin-top: 20px;
            --font-size: 0.9rem;
        }
    }
}
