body, h1, h2, h3, h4, p, ul, li, a{
    margin: 0;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
a button{
    box-sizing: border-box;

    display: flex;
    align-items: center;

    text-transform: uppercase;
    font-weight: 400;
    font-size: var(--font-size);
    // letter-spacing: calc(var(--font-size));

    border: solid 1px black;
    background: none;
    
    padding: calc(var(--font-size)*0.7) 0 calc(var(--font-size)*0.8);
    
    *:first-child{
        padding-left: calc(var(--font-size)*1.5);
    }
    *:last-child{
        padding-right: calc(var(--font-size)*1.5);
    }
    
    i.material-icons{
        font-size: var(--font-size);
        padding-right: calc(var(--font-size)*1);
    }
}
a{
    text-decoration: none;
}

article{
    // background-color: var(--article-bg);
    // width: 100%;
    position: relative;
    box-sizing: border-box;

    padding: 10vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
article::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    z-index: -1;
    
    background-color: var(--article-bg);
    opacity: 0.2;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 10px;
}
.header--top{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.number{
    font-weight: 900;
    font-style: italic;
    color: rgba($color: #000000, $alpha: 0.6);

    font-size: var(--font-size);
    letter-spacing: calc(var(--font-size) / (-5));
}

.name{
    position: relative;

    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    text-transform: uppercase;
    
    font-size: var(--font-size);

    margin-bottom: calc(var(--font-size) / 8)
}
.name::before{
    --margin-adjust: 25%;

    content: '';
    position: absolute;
    display: block;

    height: 1px;
    bottom: -1px;
    right: var(--margin-adjust);
    left: var(--margin-adjust);

    background-color: black;
}

.pokeline{
    font-weight: 100;
    text-transform: uppercase;
    
    font-size: var(--font-size);
    letter-spacing: calc(var(--font-size) / 3);
}

.sprite{
    height: var(--size);
    width: var(--size);
}

.pokemon--intro{
    font-weight: 400;
    
    font-size: var(--font-size);
    // letter-spacing: calc(var(--font-size) / 3);
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;

    a{
        align-self: flex-end;
        justify-self: flex-end;
    }
}

// p{
//     font-size: 0.8rem;
// }

@import '_index.scss';
@import '_pokemon.scss';